*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 0, 0, 0.227);
    color: white;
    min-height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 9px;
    height: 36vh;
    width: 45vw;
    background-color: rgba(0, 0, 0, 0.192);
    font-size: 4.2vw;
    
    gap: 14px;
    
    box-shadow: 40px 40px 70px rgba(218, 45, 45, 0.227),  40px  40px 70px rgba(226, 7, 7, 0.227),40px 40px 70px rgba(218, 45, 45, 0.227),  40px  40px 70px rgba(226, 7, 7, 0.227);
    
    

}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 35vw;
    border-radius: 5px;
    background-color: black;
    font-family: "Kalnia Glaze", serif;
    
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;



}
button{
    height: 3.5vw;
    width: 8.7vw;
    font-size:3vw;
    padding: 4px;
     display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 4px;


}
#buttons{
    
    gap:4.5vw;
    display: flex;
    flex-direction: row;
    


}
button:hover{
    background-color: blue;
    color: white;
    border: 3px solid white;
}